  body {
    background: #1e1f22;
    color: #c2c2c2;
  }
  .wrapper {
    margin: 1em auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* width: 120ch; */
  }
  .wrapper textarea {
    background: #313338;
    color: #d1d1d1;
    border: none;
    padding: 1em 1.25em;
    border-radius: 0.5em;
    height: 18em;
    width: 95vw;
    text-wrap: nowrap;
  }
  .wrapper button {
    margin-top: 1em;
    background: #2b2d31;
    color: #d1d1d1;
    border: none;
    padding: 1em 1.25em;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .wrapper table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-radius: 0.5em;
    text-align: left;
    display: grid;
  }
  thead {
    margin-top: 0.5em;
    cursor: pointer;
    background: #27272b;
    color: #d1d1d1;
    padding: 0.75em 1.25em;
  }
  tr {
    padding: 0.75em 1.25em;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: #d1d1d1;
  }
  td {
    padding: 0.75em 1.25em;
    /* text-wrap: nowrap; */
    background: #2b2d31;
    color: #d1d1d1;
  }
  thead tr{
    
  }
  tbody tr {
    border-bottom: 0.25em solid #1e1f22;
    background: #2b2d31;
  }
  .hidden {
    display: none;
  }
  /* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}
