:root {
  /* Global colors */
  --color-primary:#166534;
  --color-accent: #0b1a10;
  --color-secondary: #c2c2c2;
  --color-tertiary: #173C25;
  }
  
  body {
    background: var(--color-tertiary);
    color: var(--color-secondary);
    font-size: clamp(16px, 1vw, 18px);
  }
  .wrapper {
    margin: 1em auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
    background-color: hsl(0deg 0% 0% / 25%);
    padding: 1em 1.5em;
    border-radius: 2em;
  }
  .wrapper button {
    margin-top: 1em;
    background: hsl(from var(--color-accent) h s l / .5);
    color: var(--color-secondary);
    border: none;
    padding: 1em 1.25em;
    border-radius: 0.5em;
    cursor: pointer;
  }
  .wrapper button:hover {
    background: var(--color-accent);
    color: var(--color-secondary);
  }

  .wrapper table {
    border-collapse: collapse;
    border-radius: 0.5em;
    text-align: left;
    background: var(--color-accent);
  }
  thead {
    margin-top: 0.5em;
    cursor: pointer;
    padding: 0.75em 1.25em;
  }
  tr {
    padding: 0.75em 1.25em;
    justify-content: space-between;
    grid-template-columns: repeat(12, 1fr);
    background: var(--color-tertiary);
    color: var(--color-secondary);
    border-bottom: 0.25em solid var(--color-tertiary);

  }
  td {
    background: var(--color-accent);
    color: var(--color-secondary);
    padding: 0.75em 1.25em;
    text-wrap: nowrap;
  }
  th {
    background: var(--color-accent);
    color: var(--color-secondary);
    padding: 1em 1.25em;
  }
  th:has(> .clickable) {
    background: var(--color-accent);
    color: var(--color-secondary);
    padding: 0;
  }

  tbody tr {
    border-bottom: 0.25em solid var(--color-tertiary);
  }
  .hidden {
    display: none;
  }

  /* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: var(--color-accent);
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: var(--color-accent);
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--color-accent);
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: var(--color-accent);
}

.wrapper select,
.wrapper input,
.wrapper textarea{
  background: var(--color-accent);
  color: var(--color-secondary);
  border: 1px solid hsl(0deg 0% 100% / 15%);
  /* border: none; */
  padding: 1em 1.25em;
  border-radius: 0.5em;
  width: 100%;
}

  /* Add this style for highlighting on click */
  tr.highlight {
    background: var(--color-primary);
    color: var(--color-secondary);
  }

  .clickable {
    cursor: pointer;
    padding: 1em 1.25em;
  }
  .clickable:hover {
    background: var(--color-primary);
    color: var(--color-secondary);
  }