---
import Layout from '../layouts/Layout.astro';
import BunkerButtons from '../components/BunkerButtons.astro';
---

<style is:inline>
  .wrapper {
    width: 65em;
  }
  .wrapper form {
    width: 100%;
  }
  .wrapper textarea {
    height: 32em;
    width: 60em;
    white-space: nowrap;
  }
  .wrapper .flex button {
    margin-top: 1em;
    background: var(--color-tertiary);
    color: var(--color-secondary);
    border: none;
    padding: 1em 1.25em;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .wrapper button.nonab {
    border: 3px solid var(--color-primary);
  }
  .wrapper button.active {
    background: var(--color-primary);
    color: var(--color-secondary);
  }
</style>

<Layout title='Bunker List - Dumpster Tools'>
  <div class='wrapper glassmorphism' transition:name='wrapper'>
    <h2 class='mb-8 text-2xl text-center'>Bunker List</h2>
    <form>
      <textarea
        id='inputString'
        rows='4'
        cols='50'
        placeholder='Paste Bunker List'></textarea>
      <br />
      <button type='button' onclick='convertToTable()'>Convert</button>
    </form>

    <BunkerButtons />

    <!-- <div class='flex gap-2 justify-center'>
      <button
        id='D4'
        onclick='teleportTo(this)'
        title='X=402429.156 Y=555788.312 Z=16192.658'
      >
        D4
      </button>
      <button
        id='D3'
        class='nonab'
        onclick='teleportTo(this)'
        title='X=142191.672 Y=546498.188 Z=24782.061'
      >
        D3
      </button>
      <button
        id='D2'
        onclick='teleportTo(this)'
        title='X=-243813.062 Y=568471.812 Z=72278.109'
      >
        D2
      </button>
      <button
        id='D1'
        onclick='teleportTo(this)'
        title='X=-537889.562 Y=540004.312 Z=81279.648'
      >
        D1
      </button>
      <button
        id='D0'
        class='nonab'
        onclick='teleportTo(this)'
        title='X=-871767.875 Y=597019.250 Z=63084.723'
      >
        D0
      </button>
    </div>

    <div class='flex gap-2 justify-center'>
      <button
        id='C4'
        onclick='teleportTo(this)'
        title='X=446323.000 Y=263051.188 Z=18552.514'
      >
        C4
      </button>
      <button
        id='C3'
        onclick='teleportTo(this)'
        title='X=190427.000 Y=294871.531 Z=40370.238'
      >
        C3
      </button>
      <button
        id='C2'
        class='nonab'
        onclick='teleportTo(this)'
        title='X=-221955.922 Y=186481.688 Z=76617.336'
      >
        C2
      </button>
      <button
        id='C1'
        onclick='teleportTo(this)'
        title='X=-393614.781 Y=216967.266 Z=59906.152'
      >
        C1
      </button>
      <button
        id='C0'
        onclick='teleportTo(this)'
        title='X=-899040.250 Y=230759.391 Z=49174.176'
      >
        C0
      </button>
    </div>

    <div class='flex gap-2 justify-center'>
      <button
        id='B4'
        class='nonab'
        onclick='teleportTo(this)'
        title='X=443626.750 Y=-13702.469 Z=11979.164'
      >
        B4
      </button>
      <button
        id='B3'
        onclick='teleportTo(this)'
        title='X=238833.047 Y=-91802.016 Z=30968.986'
      >
        B3
      </button>
      <button
        id='B2'
        onclick='teleportTo(this)'
        title='X=-40785.582 Y=-196632.453 Z=32143.986'
      >
        B2
      </button>
      <button
        id='B1'
        onclick='teleportTo(this)'
        title='X=-585928.125 Y=-261075.672 Z=17327.119'
      >
        B1
      </button>
      <button
        id='B0'
        onclick='teleportTo(this)'
        title='X=-808295.250 Y=-89718.359 Z=35705.871'
      >
        B0
      </button>
    </div>

    <div class='flex gap-2 justify-center'>
      <button
        id='A4'
        onclick='teleportTo(this)'
        title='X=449948.406 Y=-401989.250 Z=8156.326'
      >
        A4
      </button>
      <button
        id='A3'
        onclick='teleportTo(this)'
        title='X=230229.672 Y=-447157.625 Z=9555.422'
      >
        A3
      </button>
      <button
        id='A2'
        class='nonab'
        onclick='teleportTo(this)'
        title='X=-40887.375 Y=-324878.438 Z=16259.652'
      >
        A2
      </button>
      <button
        id='A1'
        onclick='teleportTo(this)'
        title='X=-348529.312 Y=-469201.781 Z=4247.645'
      >
        A1
      </button>
      <button
        id='A0'
        onclick='teleportTo(this)'
        title='X=-769538.625 Y=-349752.062 Z=6468.148'
      >
        A0
      </button>
    </div>

    <div class='flex gap-2 justify-center'>
      <button
        id='Z4'
        class='nonab'
        onclick='teleportTo(this)'
        title='X=521845.781 Y=-823576.562 Z=4945.017'
      >
        Z4
      </button>
      <button
        id='Z3'
        onclick='teleportTo(this)'
        title='X=30771.176 Y=-806883.562 Z=11456.107'
      >
        Z3
      </button>
      <button
        id='Z2'
        onclick='teleportTo(this)'
        title='X=-202029.516 Y=-645740.000 Z=5789.613'
      >
        Z2
      </button>
      <button
        id='Z1'
        onclick='teleportTo(this)'
        title='X=-564608.062 Y=-724692.062 Z=15077.148'
      >
        Z1
      </button>
      <button
        id='Z0'
        class='nonab'
        onclick='teleportTo(this)'
        title='X=-700999.375 Y=-792435.812 Z=10776.563'
      >
        Z0
      </button>
    </div> -->
  </div>

  <script is='inline'>
    function teleportTo(element) {
      var teleportToText = element.getAttribute('title');
      teleportToText = '#Teleport ' + teleportToText; // Prepend "#TeleportToVehicle "

      // Create a temporary textarea to copy the modified text to the clipboard
      var tempText = document.createElement('textarea');
      tempText.value = teleportToText;
      document.body.appendChild(tempText);
      tempText.select();
      document.execCommand('copy');
      alert(teleportToText);
      document.body.removeChild(tempText);
    }

    function convertToTable() {
      var inputString = document.getElementById('inputString').value; // Get the input string from the textarea
      var lines = inputString.split('\n'); // Split the input string into lines

      // Define arrays to store active and locked bunker IDs
      var activeBunkers = [];
      var lockedBunkers = [];

      // Iterate through each line to parse bunker status
      lines.forEach(function (line) {
        // Check if the line indicates a bunker activation or locking
        if (line.includes('is Active')) {
          // Extract the bunker ID from the line
          var bunkerID = line.split(' ')[0];
          activeBunkers.push(bunkerID);
        } else if (line.includes('is Locked')) {
          // Extract the bunker ID from the line
          var bunkerID = line.split(' ')[0];
          lockedBunkers.push(bunkerID);
        }
      });

      //console.log(activeBunkers);
      // Iterate through each button and style it based on active or locked status
      var buttons = document.querySelectorAll('button');
      buttons.forEach(function (button) {
        var buttonID = button.id;
        //console.log(buttonID);
        if (activeBunkers.includes(buttonID)) {
          // If the button ID is active, apply active styles
          button.classList.add('active');
        } else {
          // If neither active nor locked, remove both styles
          button.classList.add('locked');
        }
      });
    }
  </script>
</Layout>
