---
import Layout from '../layouts/Layout.astro';
import BunkerButtons from '../components/BunkerButtons.astro';
---

<style is:inline>
  .wrapper {
    width: 92ch;
  }
  .wrapper form {
    width: 100%;
  }
  .wrapper textarea {
    height: 18em;
    white-space: nowrap;
  }
  .wrapper .flex button {
    margin-top: 1em;
    background: var(--color-tertiary);
    color: var(--color-secondary);
    border: none;
    padding: 1em 1.25em;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .wrapper button.nonab {
    border: 3px solid var(--color-primary);
  }

  .wrapper table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-radius: 0.5em;
    text-align: left;
    display: grid;
  }
  thead {
    margin-top: 0.5em;
  }
  tr {
    background: #313338;
    color: #d1d1d1;
    border-bottom: 0.25em solid #1e1f22;
  }
  td {
    padding: 0.75em 1.25em;
    white-space: nowrap;
  }

  th {
    /* background: #2b2d31;
    color: #d1d1d1; */
    padding: 1em 1.25em;
  }
  th:has(> .clickable) {
    /* background: #2b2d31;
    color: #d1d1d1; */
    padding: 0;
  }

  #bpcCounts {
    margin-top: 20px;
  }

  tr.highlight {
    /* background: #2b2d31;
    color: #d1d1d1; */
  }

  .clickable {
    cursor: pointer;
    padding: 1em 1.25em;
  }
  .clickable:hover {
    /* background: #1e1f22;
    color: #d1d1d1; */
  }
</style>

<Layout title='Bunker List - Dumpster Tools'>
  <div class='wrapper'>
    <h2 class='mb-8 text-2xl text-center'>Bunker List</h2>
    <form>
      <textarea
        id='inputString'
        rows='4'
        cols='50'
        placeholder='Paste Bunker List'></textarea>
      <br />
      <button
        type='button'
        onclick='convertToTable()'
        class='shadow focus:shadow-outline focus:outline-none font-bold py-2 px-4 rounded'
      >
        Convert
      </button>
    </form>
    <BunkerButtons />
  </div>

  <script is:inline>
    function teleportTo(element) {
      var teleportToText = element.getAttribute('title');
      teleportToText = '#Teleport ' + teleportToText;

      var tempText = document.createElement('textarea');
      tempText.value = teleportToText;
      document.body.appendChild(tempText);
      tempText.select();
      document.execCommand('copy');
      document.body.removeChild(tempText);
    }

    function convertToTable() {
      var inputString = document.getElementById('inputString').value;
      var lines = inputString.split('\n');

      var activeBunkers = [];
      var lockedBunkers = [];

      lines.forEach(function (line) {
        if (line.includes('is Active')) {
          var bunkerID = line.split(' ')[0];
          activeBunkers.push(bunkerID);
        } else if (line.includes('is Locked')) {
          var bunkerID = line.split(' ')[0];
          lockedBunkers.push(bunkerID);
        }
      });

      var buttons = document.querySelectorAll('.wrapper button');
      buttons.forEach(function (button) {
        var buttonID = button.id;
        button.classList.remove('active', 'locked');

        if (activeBunkers.includes(buttonID)) {
          button.classList.add('active');
        } else if (lockedBunkers.includes(buttonID)) {
          button.classList.add('locked');
        }
      });
    }
  </script>
</Layout>
