---
import Layout from '../layouts/Layout.astro';
import BunkerButtons from '../components/BunkerButtons.astro';
---

<Layout title='Bunker List - Dumpster Tools'>
  <div class='wrapper' transition:name='wrapper'>
    <h2 class='mb-8 text-2xl text-center'>Bunker List</h2>
    <BunkerButtons />
  </div>
</Layout>

<style is:inline>
  .wrapper {
    width: 40em;
    padding-bottom: 3em;
  }
  .wrapper form {
    width: 100%;
  }
  .wrapper textarea {
    height: 32em;
    width: 60em;
    white-space: nowrap;
  }

  .wrapper .flex .btn {
    background: hsl(from var(--color-accent) h s 24);
    color: var(--font-color);
  }

  .wrapper .flex .btn:hover {
    outline: 0.25em solid var(--color-accent);
  }

  .wrapper .flex .btn {
    margin-top: 1em;
    background: var(--color-tertiary);
    color: var(--font-color);
    border: none;
    padding: 0.75em 1em;
    border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
    min-width: 6em;
    box-shadow: -1px 1px 7px 0px #00000052;
  }

  .wrapper .flex .btn.normal {
    border: 3px solid var(--color-primary);
  }
  .wrapper .flex .btn.active {
    background: var(--color-primary);
    color: var(--font-color);
  }
  .wrapper .flex .btn.locked {
    background: rgb(51, 32, 35);
    color: var(--font-color);
  }
</style>
