---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Econ file - Dumpster Tools'>
  <div class='wrapper'>
    <h2 class='text-2xl text-center'>Econ File</h2>
    <div id='tableContainer'></div>
  </div>
  <script is='inline'>
    function displayJsonAsTable() {
      fetch('../data/economyOverride.json')
        .then((response) => response.json())
        .then((jsonData) => {
          const economyOverride = jsonData['economy-override'];
          const tableContainer = document.getElementById('tableContainer');

          let tableHTML = '<table>';
          for (const trader in economyOverride.traders) {
            tableHTML += `<thead><tr><th colspan="6" class="trader-header">${trader}</th></tr></thead>`;
            tableHTML += '<tbody class="trader-body hidden">';
            economyOverride.traders[trader].forEach((item) => {
              tableHTML += '<tr>';
              for (const key in item) {
                tableHTML += `<td>${item[key]}</td>`;
              }
              tableHTML += '</tr>';
            });
            tableHTML += '</tbody>';
          }
          tableHTML += '</table>';

          tableContainer.innerHTML = tableHTML;

          // Add functionality to toggle the visibility of each trader's items
          const traderHeaders = document.querySelectorAll('thead');
          traderHeaders.forEach((traderHeader) => {
            traderHeader.addEventListener('click', () => {
              console.log('click');
              const traderBody = traderHeader.nextSibling;
              console.log(traderBody);
              traderBody.classList.toggle('hidden');
            });
          });
        })
        .catch((error) =>
          console.error('Error fetching or parsing data: ', error),
        );
    }

    // Call the function to display JSON data as a table
    displayJsonAsTable();
  </script>
</Layout>

<style is:inline>
  .wrapper {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 120ch;
  }
  .wrapper textarea {
    background: #313338;
    color: #d1d1d1;
    border: none;
    padding: 1em 1.25em;
    border-radius: 0.5em;
    height: 18em;
    width: 95vw;
    text-wrap: nowrap;
  }
  .wrapper button {
    margin-top: 1em;
    background: #2b2d31;
    color: #d1d1d1;
    border: none;
    padding: 1em 1.25em;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .wrapper table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-radius: 0.5em;
    text-align: left;
    display: grid;
  }
  thead {
    margin-top: 0.5em;
    cursor: pointer;
    background: #27272b;
    color: #d1d1d1;
    padding: 0.75em 1.25em;
  }
  tr {
    display: block;
  }
  td {
    padding: 0.75em 1.25em;
    text-wrap: nowrap;
    background: #2b2d31;
    color: #d1d1d1;
    padding: 1em 1.25em;
  }
  tbody td {
    border-bottom: 0.25em solid #1e1f22;
  }
  .hidden {
    display: none;
  }
</style>
