---
import Layout from '../layouts/Layout.astro';
import Map from '../components/Map.astro';
---

<Layout title='Map Zones'>
	<div class='mainWrapper'>
		<Map />
	</div>
</Layout>

<script>
	const main = document.querySelector('.mainWrapper');
	main.classList.add('fml');
</script>

<style is:inline>
	:root {
		/* Base colors */
		--color-white: hsl(0, 0%, 100%);
		--color-white-40: hsla(0, 0%, 100%, 0.4);
		--color-white-10: hsla(0, 0%, 100%, 0.1);
		--color-black: hsl(0, 0%, 0%);
		--color-grey-darker: hsla(0, 0%, 13%, 1);
		--color-grey-dark: hsla(0, 0%, 20%, 1);

		/* Zone base properties */
		--zone-stroke-width: 1px;
		--zone-hover-opacity: 0.4;
		--text-shadow-default: 2px 2px 8px var(--color-black-80);

		/* Zone colors */
		--color-zone-default: hsla(207, 44%, 49%, 1);
		--color-zone-default-fill: hsla(207, 44%, 49%, 0.02);
		--color-zone-default-hover: hsla(207, 44%, 49%, var(--zone-hover-opacity));

		/* PvE colors */
		--color-pve: hsla(121, 100%, 75%, 1);
		--color-pve-fill: hsla(121, 100%, 75%, 0.009);
		--color-pve-hover: hsla(121, 100%, 50%, 0.04);

		/* PvP colors */
		--color-pvp: hsla(0, 44%, 49%, 0.75);
		--color-pvp-fill: hsla(0, 44%, 49%, 0.5);

		/* Special zone colors */
		--color-warzone: hsla(297, 44%, 49%, 0.75);
		--color-warzone-fill: hsla(297, 44%, 49%, 0.5);

		--color-community: hsla(0, 0%, 67%, 0.75);
		--color-community-fill: hsla(0, 0%, 67%, 0.5);

		--color-kingofthecastle: hsl(38, 100%, 50%);
		--color-kingofthecastle-fill: hsla(38, 100%, 50%, 0.2);

		/* POI and Outpost colors */
		--color-custom-poi: hsla(147, 41%, 41%, 0.75);
		--color-custom-poi-fill: hsla(147, 41%, 41%, 0.5);

		--color-pve-poi: hsla(200, 50%, 40%, 0.75);
		--color-pve-poi-fill: hsla(200, 50%, 40%, 0.5);

		--color-pvp-poi: hsla(69, 44%, 37%, 0.75);
		--color-pvp-poi-fill: hsla(69, 44%, 37%, 0.5);

		--color-selected: hsla(124, 86%, 35%, 1);
	}
</style>
