---
import Layout from '../layouts/Layout.astro';
---

<style is:inline>
  .wrapper {
    margin: 1em 1.5em;
  }
  .wrapper textarea {
    background: #313338;
    color: #d1d1d1;
    border: none;
    padding: 1em 1.25em;
    border-radius: 0.5em;
    height: 18em;
    width: 95vw;
    text-wrap: nowrap;
    margin: 0 auto;
  }
  .wrapper button {
    margin-top: 1em;
    background: #2b2d31;
    color: #d1d1d1;
    border: none;
    padding: 1em 1.25em;
    border-radius: 0.5em;
    cursor: pointer;
    aspect-ratio: 2/1;
  }

  .wrapper table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-radius: 0.5em;
    text-align: left;
    display: grid;
  }
  thead {
    margin-top: 0.5em;
  }
  tr {
    background: #313338;
    color: #d1d1d1;
    border-bottom: 0.25em solid #1e1f22;
  }
  td {
    /* background: #313338;
    color: #d1d1d1; */
    padding: 0.75em 1.25em;
    text-wrap: nowrap;
  }

  th {
    background: #2b2d31;
    color: #d1d1d1;
    padding: 1em 1.25em;
  }
  th:has(> .clickable) {
    background: #2b2d31;
    color: #d1d1d1;
    padding: 0;
  }

  #bpcCounts {
    margin-top: 20px;
  }

  /* Add this style for highlighting on click */
  tr.highlight {
    background: #2b2d31;
    color: #d1d1d1;
  }

  .clickable {
    cursor: pointer;
    padding: 1em 1.25em;
  }
  button:hover {
    background: #1e1f22;
    color: #d1d1d1;
  }
</style>

<Layout title='Maze - Dumpster Tools'>
  <div class='wrapper'>
    <h2 class='mb-8 text-2xl text-center'>Maze Teleports</h2>
    <div class='flex gap-2 justify-center'>
      <button
        onclick='teleportTo(this)'
        title='X=94699.469 Y=99392.242 Z=36369.184'
      >
        left tower
      </button>
      <button
        onclick='teleportTo(this)'
        title='X=97570.750 Y=102343.266 Z=36522.988'
      >
        center tower
      </button>

      <button
        onclick='teleportTo(this)'
        title='X=101475.516 Y=99977.023 Z=36165.473'
      >
        right tower
      </button>
    </div>

    <div class='flex gap-2 justify-center'>
      <button
        onclick='teleportTo(this)'
        title='X=97312.148 Y=107252.406 Z=34898.516|'
      >
        Start</button
      >
      <button onclick='teleportTo(this)' title=''> Finish</button>
      <button
        onclick='teleportTo(this)'
        title='X=97587.734 Y=102734.930 Z=35016.559'
      >
        Flag
      </button>
    </div>

    <div class='flex gap-2 justify-center'>
      <button
        onclick='teleportTo(this)'
        title='X=98281.773 Y=105935.258 Z=34825.715'
      >
        1
      </button>
      <button
        onclick='teleportTo(this)'
        title='X=100927.312 Y=105814.148 Z=34814.891'
      >
        2
      </button>
      <button
        onclick='teleportTo(this)'
        title='X=100686.508 Y=103611.914 Z=34853.012'
      >
        3
      </button>
      <button
        onclick='teleportTo(this)'
        title='X=98234.312 Y=102442.336 Z=34929.605'
      >
        4
      </button>
    </div>

    <div class='flex gap-2 justify-center'>
      <button
        onclick='teleportTo(this)'
        title='X=97187.727 Y=100906.414 Z=35170.586'
      >
        5
      </button>

      <button
        onclick='teleportTo(this)'
        title='X=94728.469 Y=100056.047 Z=35246.672'
      >
        6
      </button>
      <button
        onclick='teleportTo(this)'
        title='X=95739.734 Y=102529.984 Z=35158.406'
      >
        7
      </button>
      <button
        onclick='teleportTo(this)'
        title='X=94504.031 Y=103470.836 Z=35204.133'
      >
        8
      </button>
    </div>

    <div class='flex gap-2 justify-center'>
      <button
        onclick='teleportTo(this)'
        title='X=96437.023 Y=104912.336 Z=35094.824'
      >
        9
      </button>
      <button
        onclick='teleportTo(this)'
        title='X=96482.344 Y=105712.023 Z=35004.051'
      >
        10
      </button>
      <button
        onclick='teleportTo(this)'
        title='X=99137.617 Y=104337.023 Z=34818.082'
      >
        11
      </button>
      <button
        onclick='teleportTo(this)'
        title='X=99129.086 Y=101968.773 Z=34951.676'
      >
        12
      </button>
    </div>
  </div>
  <script is='inline'>
    function teleportTo(element) {
      var teleportToText = element.getAttribute('title');
      teleportToText = '#Teleport ' + teleportToText; // Prepend "#TeleportToVehicle "

      // Create a temporary textarea to copy the modified text to the clipboard
      var tempText = document.createElement('textarea');
      tempText.value = teleportToText;
      document.body.appendChild(tempText);
      tempText.select();
      document.execCommand('copy');
      document.body.removeChild(tempText);
    }
  </script>
</Layout>
