---
import Layout from '../layouts/Layout.astro';
import GetPlayerForm from '../components/GetPlayer-form.astro';
---

<Layout title='Order Pack - Dumpster Tools'>
  <div class='wrapper glassmorphism' transition:name='wrapper'>
    <h2 class='mb-8 text-2xl text-center'>Get Player Info</h2>
    <GetPlayerForm />
  </div>
</Layout>

<style is:inline>
  .wrapper {
    max-width: 92ch;
  }
</style>
