---
import Layout from '../layouts/Layout.astro';
import GetVehicles from '../components/GetVehicles.astro';
---

<Layout title='Vehicle List '>
  <div class='wrapper' transition:name='wrapper'>

    <GetVehicles />
  </div>
</Layout>

<style is:inline>
  main .wrapper {
    max-width: 140ch;
    align-items: center;
  }
  .wrapper form {
    width: 100%;
  }
  .wrapper textarea {
    height: 18em;
    text-wrap: nowrap;
  }

  #bpcCounts {
    margin-top: 20px;
  }
  #VehicleContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 2em;
    max-width: 100%;
    overflow-x: auto;
    background: var(--color-tertiary);
    min-width: 100%;
  }
</style>
