---
import Layout from '../layouts/Layout.astro';
---

<style is:inline>
  /* .wrapper {
    width: 92ch;
  } */
  .wrapper form {
    width: 100%;
  }
  .wrapper textarea {
    height: 18em;
    text-wrap: nowrap;
  }

  #bpcCounts {
    margin-top: 20px;
    width: 120ch;
    min-width: 90vw;
    max-width: 90vw;
  }
  #tableContainer {
    margin-top: 20px;
    width: 120ch;
    min-width: 90vw;
    max-width: 90vw;
  }
</style>

<Layout title='Vehicle List '>
  <div class='wrapper'>
    <h2 class='mb-8 text-2xl text-center'>Vehicle List Converter</h2>
    <form>
      <textarea
        id='inputString'
        rows='4'
        cols='50'
        placeholder='Paste Vehicle List'></textarea>
      <br />
      <button
        type='button'
        onclick='convertToTable()'
        class='shadow
        focus:shadow-outline
        focus:outline-none
        font-bold
        py-2
        px-4
        rounded'
        >Convert</button
      >
    </form>

    <div id='bpcCounts'></div>
    <div id='tableContainer'></div>
  </div>
  <script is='inline'>
    function convertToTable() {
      var inputString = document.getElementById('inputString').value;
      var tableContainer = document.getElementById('tableContainer');
      var bpcCountsContainer = document.getElementById('bpcCounts');

      // Format the string into a table
      var data = {};
      var lines = inputString.split('\n');
      lines.forEach(function (line) {
        var cells = line.split(/\s+/).filter(Boolean);
        var type = cells[1];
        if (!data[type]) {
          data[type] = [];
        }
        data[type].push(cells);
      });

      // Display the table
      var tableHTML = '<table class="table-auto">';
      var cellID = '';
      for (var type in data) {
        tableHTML +=
          '<thead><tr><th colspan="100%">' + type + '</th></tr></thead>';
        tableHTML += '<tbody>';

        // Assuming index 1 contains the date & time
        data[type].sort(function (a, b) {
          // Extract and convert date & time to comparable format
          var dateA = new Date(a[2]).getTime();
          var dateB = new Date(b[2]).getTime();

          // Compare the dates
          return dateA - dateB;
        });

        data[type].forEach(function (cells) {
          tableHTML += '<tr class="clickable-row">';
          cells.forEach(function (cell, index) {
            if (index === 0) {
              var textToCopy = cell.trim();
              textToCopy = textToCopy.replace(/^#/, ''); // Remove leading #
              textToCopy = textToCopy.replace(/:$/, ''); // Remove trailing :
              cellID = textToCopy;
            }

            if (index === 3) {
              var textToCopy = cell.trim();
              cellX = textToCopy.replace('X=', '');
            }
            if (index === 4) {
              var textToCopy = cell.trim();
              cellY = textToCopy.replace('Y=', '');
            }
            if (index === 5) {
              var textToCopy = cell.trim();
              cellZ = textToCopy.replace('Z=', '');
            }

            // Add click event listener to the first cell in each row
            if (index === 0) {
              cell =
                '<span class="clickable" onclick="teleportToVehicle(this)" title="#teleportToVehicle">' +
                cell +
                '</span>';
            }
            if (index === 2) {
              cell = new Date(cell).toLocaleString();
            }
            if (index === 3 || index === 4) {
              // Skip cells with index 3 and 4
              return;
            }
            if (index === 5) {
              cell =
                '<span class="clickable" onclick="copyXYZ(this)"  title="X Y Z ">' +
                cellX +
                ' ' +
                cellY +
                ' ' +
                cellZ;
              ('</span>');
            }

            if (index === 6) {
              cell =
                '<span class="clickable" onclick="playerDetails(this)"  title="!player ">' +
                cell +
                '</span>';
            }
            if (index === 7) {
              cell =
                '<span class="clickable" onclick="renameVehicle(this)"  title="#renameVehicle">' +
                cell +
                '</span>';
            }
            tableHTML += '<td id="' + cellID + '">' + cell + '</td>';
          });
          tableHTML += '</tr>';
        });

        tableHTML += '</tbody>';
      }
      tableHTML += '</table>';

      tableContainer.textContent = '';
      tableContainer.insertAdjacentHTML('beforeend', tableHTML);

      // Display the count of each BPC type
      var countsHTML = '<h3>Vehicle Type Counts</h3>';
      var total = 0; // Initialize total to zero
      countsHTML += '<ul>';

      for (var type in data) {
        if (type != 'vehicle') {
          countsHTML += '<li>' + type + ': ' + data[type].length + '</li>';
          total += data[type].length; // Accumulate the counts
        }
      }

      countsHTML += '<li>Total: ' + total + '</li>';
      countsHTML += '</ul>';
      bpcCountsContainer.innerHTML = countsHTML;

      // Add click event listeners to each row for highlighting
      var clickableRows = document.querySelectorAll('.clickable-row');
      clickableRows.forEach(function (row) {
        row.addEventListener('click', function () {
          this.classList.toggle('highlight');
        });
      });
    }

    // Function to copy content to clipboard and modify it
    function teleportToVehicle(element) {
      var teleportToText = element.textContent.trim();
      teleportToText = teleportToText.replace(/^#/, ''); // Remove leading #
      teleportToText = teleportToText.replace(/:$/, ''); // Remove trailing :
      teleportToText = '#TeleportToVehicle ' + teleportToText; // Prepend "#TeleportToVehicle "

      // Create a temporary textarea to copy the modified text to the clipboard
      var tempTextArea = document.createElement('textarea');
      tempTextArea.value = teleportToText;
      document.body.appendChild(tempTextArea);
      tempTextArea.select();
      document.execCommand('copy');
      document.body.removeChild(tempTextArea);
    }
    // Function to copy content to clipboard and modify it
    function copyXYZ(element) {
      var copyXYZ = element.textContent.trim();

      // Create a temporary textarea to copy the modified text to the clipboard
      var tempTextArea = document.createElement('textarea');
      tempTextArea.value = copyXYZ;
      document.body.appendChild(tempTextArea);
      tempTextArea.select();
      document.execCommand('copy');
      document.body.removeChild(tempTextArea);
    }
    // Function to copy content to clipboard and modify it
    function playerDetails(element) {
      var steamID = element.textContent.trim();
      steamID = steamID.replace(/^STEAMID:/, ''); // Remove leading #
      steamID = '!player ' + steamID; // Prepend "#TeleportToVehicle "

      // Create a temporary textarea to copy the modified text to the clipboard
      var tempTextArea = document.createElement('textarea');
      tempTextArea.value = steamID;
      document.body.appendChild(tempTextArea);
      tempTextArea.select();
      document.execCommand('copy');
      document.body.removeChild(tempTextArea);
    }
    // Function to copy content to clipboard and modify it
    function renameVehicle(element) {
      // Get the parent element and its ID
      var parentElement = element.parentElement;
      var parentId = parentElement.id;
      var renameVehicleText = element.textContent.trim();
      renameVehicleText = renameVehicleText.replace(/^#/, ''); // Remove leading #
      renameVehicleText = renameVehicleText.replace(/:$/, ''); // Remove trailing :
      renameVehicleText =
        '#renameVehicle ' +
        parentId +
        ' "STEAMID:' +
        renameVehicleText +
        // ' Owns:1 VID:' +
        // parentId +
        // ' ' +
        // renameVehicleText +
        '"';

      // Create a temporary textarea to copy the modified text to the clipboard
      var tempTextArea = document.createElement('textarea');
      tempTextArea.value = renameVehicleText;
      document.body.appendChild(tempTextArea);
      tempTextArea.select();
      document.execCommand('copy');
      document.body.removeChild(tempTextArea);
    }
  </script>
</Layout>
