---
import Layout from '../layouts/Layout.astro';
import Map from '../components/Map.astro';
---

<Layout title='Map Zones'>
	<div class='wrapper' transition:name='wrapper'>
		<Map />
	</div>
</Layout>

<style is:inline>
	.wrapper {
		max-width: 115em;
		width: 70vw;
		@media (max-width: 1024px) {
			width: 100%;
		}
	}
</style>
