---
import Layout from '../layouts/Layout.astro';
import Map from '../components/Map.astro';
---

<Layout title='Map Zones'>
	<div class='wrapper' transition:name='wrapper'>
		<Map />
	</div>
</Layout>

<style is:inline>
	.wrapper {
		max-width: 110em;
	}
</style>
