<div class='data-controls'>

	<div class="mainNav-container">
		<label><input type='checkbox' id='players-toggle' />Players</label>
		<label><input type='checkbox' id='vehicles-toggle' />Vehicles</label>
		<label><input type='checkbox' id='flags-toggle' />Flags</label>
		<label><input type='checkbox' id='kills-toggle' />Kills</label>
		<label ><input type='checkbox' id='modifiers-toggle' />Loots Modifiers</label>
		</label><input type='checkbox' id='zones-toggle' />Zones</label>
	</div>

	<div class="subNav-container">

		<div class='vehicle-types'>
			<label><input type='checkbox' checked id='registered-vehicles-toggle' />Registered</label>
			<label><input type='checkbox' id='not-registered-vehicles-toggle' />Not Registered</label>
			<!-- <label><input type='checkbox' id='rager-toggle' />Ragers</label>
			<label><input type='checkbox' id='wolfswagen-toggle' />WolfsWagens</label>
			<label><input type='checkbox' id='laika-toggle' />Laikas</label>
			<label><input type='checkbox' id='kingletduster-toggle' />Kinglet Dusters</label>
			<label><input type='checkbox' id='barba-toggle' />Boats</label>
			<label><input type='checkbox' id='ris-toggle' />RISs</label>
			<label><input type='checkbox' id='dirtbike-toggle' />DirtBikes</label>
			<label><input type='checkbox' id='cruiser-toggle' />Cruisers</label>
			<label><input type='checkbox' id='bicycles-toggle' />Bicycles</label>
			<label><input type='checkbox' id='wheelbarrow-toggle' />WheelBarrows</label> -->
		</div>

		<div class='loot-modifiers'>
			<label><input type='checkbox' id='pvp-toggle' />PvP</label>
			<label><input type='checkbox' id='pve-toggle' />PvE</label>
			<label><input type='checkbox' id='custom-pois-toggle' />POIs</label>
			<label><input type='checkbox' id='pve-bunker-toggle' />PvE Bunkers</label>
			<label><input type='checkbox' id='pvp-bunker-toggle' />PvP Bunkers</label>
			<label><input type='checkbox' id='warzones-toggle' />Warzones</label>
		</div>

		<div class='zones'>
		<label><input type='checkbox' id='events-toggle' />Events</label>
		<label><input type='checkbox' id='pois-toggle' />POIs</label>
		<label><input type='checkbox' id='bunkers-toggle' />Bunkers</label>
		<label><input type='checkbox' id='outposts-toggle' />Outposts</label>
		<label><input type='checkbox' checked id='sectors-toggle' />Sectors</label>
		<label><input type='checkbox' checked id='image-toggle' />Image</label>
		</div>

	</div>

</div>

<script>

</script>

<style>
	.data-controls {
		display: flex;
    flex-direction: column;
    /* gap: 1em; */
    padding: 0.75em 1em;
    border-radius: 0.5em;
    background: var(--color-grey-dark);
		label {
			display: flex;
			flex-direction: row;
			gap: 0.5em;
			align-items: center;
		}

		input[type='checkbox'] {
			display: none;
		}

		label:has(input[type='checkbox']:checked),
		input[type='checkbox']:checked ~ label {
			color: var(--color-selected);
		}
	}

	.mainNav-container,
	.subNav-container {
		display: flex;
		flex-direction: row;
		gap: 0.5em 1em;
	}

	.subNav-container {
		flex-direction: column;
	}

/* Form Controls */
.vehicle-container,
	.modifiers-container,
	.zones-container {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		align-items: start;
		justify-content: center;
		flex-wrap: wrap;
		&:hover,
		&:has(#vehicles-toggle:checked),
		&:has(#modifiers-toggle:checked) {
			outline: 1px solid #f9f9f963;
			outline-offset: 0.25em;
			border-radius: 0.125em;
		}
	}

	.vehicle-types,
	.loot-modifiers,
	.zones {
		display: none;
		flex-direction: row;
		gap: 0.5em;
		align-items: start;
	}


</style>


