<div class='data-controls'>
	<div class='mainNav-container'>
		<label><input type='checkbox' id='players-toggle' />Players</label><span
			class='nav-divider'>|</span
		>
		<label><input type='checkbox' id='vehicles-toggle' />Vehicles</label><span
			class='nav-divider'>|</span
		>
		<label><input type='checkbox' id='flags-toggle' />Flags</label><span
			class='nav-divider'>|</span
		>
		<label><input type='checkbox' id='kills-toggle' />Kills</label><span
			class='nav-divider'>|</span
		>
		<label><input type='checkbox' id='modifiers-toggle' />Loots Modifiers</label
		><span class='nav-divider'>|</span>
		<label><input type='checkbox' id='zones-toggle' />Zones</label>
		<div class='map-controls'>
			<label><input type='checkbox' checked id='sectors-toggle' />Sectors</label
			><span class='nav-divider'>|</span>
			<label><input type='checkbox' checked id='image-toggle' />Image</label>
		</div>
	</div>

	<div class='subNav-container'>
		<div class='vehicle-types'>
			<label>
				<input type='checkbox' checked id='registered-vehicles-toggle' />
				Registered
			</label><span class='nav-divider'>|</span>
			<label>
				<input type='checkbox' checked id='not-registered-vehicles-toggle' />
				Not Registered
			</label>
			<!-- <label><input type='checkbox' id='rager-toggle' />Ragers</label>
			<label><input type='checkbox' id='wolfswagen-toggle' />WolfsWagens</label>
			<label><input type='checkbox' id='laika-toggle' />Laikas</label>
			<label><input type='checkbox' id='kingletduster-toggle' />Kinglet Dusters</label>
			<label><input type='checkbox' id='barba-toggle' />Boats</label>
			<label><input type='checkbox' id='ris-toggle' />RISs</label>
			<label><input type='checkbox' id='dirtbike-toggle' />DirtBikes</label>
			<label><input type='checkbox' id='cruiser-toggle' />Cruisers</label>
			<label><input type='checkbox' id='bicycles-toggle' />Bicycles</label>
			<label><input type='checkbox' id='wheelbarrow-toggle' />WheelBarrows</label> -->
		</div>

		<div class='loot-modifiers'>
			<label><input type='checkbox' id='pvp-toggle' />PvP</label><span
				class='nav-divider'>|</span
			>
			<label><input type='checkbox' id='pve-toggle' />PvE</label><span
				class='nav-divider'>|</span
			>
			<label><input type='checkbox' id='custom-pois-toggle' />POIs</label><span
				class='nav-divider'>|</span
			>
			<label><input type='checkbox' id='pve-bunker-toggle' />PvE Bunkers</label
			><span class='nav-divider'>|</span>
			<label><input type='checkbox' id='pvp-bunker-toggle' />PvP Bunkers</label
			><span class='nav-divider'>|</span>
			<label><input type='checkbox' id='warzones-toggle' />Warzones</label>
		</div>

		<div class='zones'>
			<label><input type='checkbox' id='events-toggle' />Events</label><span
				class='nav-divider'>|</span
			>
			<label><input type='checkbox' id='pois-toggle' />POIs</label><span
				class='nav-divider'>|</span
			>
			<label><input type='checkbox' id='bunkers-toggle' />Bunkers</label><span
				class='nav-divider'>|</span
			>
			<label><input type='checkbox' id='outposts-toggle' />Outposts</label><span
				class='nav-divider'>|</span
			>
		</div>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const mainNavToggles = document.querySelectorAll(
			'.mainNav-container input[type="checkbox"]',
		);
		const vehiclesToggle = document.getElementById(
			'vehicles-toggle',
		) as HTMLInputElement;
		const vehicleTypes = document.querySelector(
			'.vehicle-types',
		) as HTMLElement;
		const modifiersToggle = document.getElementById(
			'modifiers-toggle',
		) as HTMLInputElement;
		const lootModifiers = document.querySelector(
			'.loot-modifiers',
		) as HTMLElement;
		const zonesToggle = document.getElementById(
			'zones-toggle',
		) as HTMLInputElement;
		const zones = document.querySelector('.zones') as HTMLElement;

		mainNavToggles.forEach((toggle) => {
			toggle.addEventListener('change', (e) => {
				const currentToggle = e.target as HTMLInputElement;

				// Deselect other toggles
				mainNavToggles.forEach((otherToggle) => {
					if (otherToggle !== currentToggle) {
						(otherToggle as HTMLInputElement).checked = false;
					}
				});

				// Handle visibility of sub-sections
				vehicleTypes.style.display = vehiclesToggle.checked ? 'flex' : 'none';
				lootModifiers.style.display = modifiersToggle.checked ? 'flex' : 'none';
				zones.style.display = zonesToggle.checked ? 'flex' : 'none';
			});
		});
	});
</script>

<style>
	.data-controls {
		display: flex;
		flex-direction: column;
		padding: 0.75em 1em;
		border-radius: 0.5em;
		background: var(--color-grey-dark);
		label {
			display: flex;
			flex-direction: row;
			gap: 0.5em;
			align-items: center;
		}

		input[type='checkbox'] {
			display: none;
		}

		label:has(input[type='checkbox']:checked),
		input[type='checkbox']:checked ~ label {
			color: var(--color-selected);
		}
	}

	.mainNav-container,
	.subNav-container {
		display: flex;
		flex-direction: row;
		gap: 0.5em 1em;
	}

	.mainNav-container {
		position: relative;
	}

	.map-controls {
		display: flex;
		gap: 1em;
		position: absolute;
		right: 0;
	}
	.subNav-container {
		flex-direction: column;
	}

	.nav-divider {
		font-size: 2em;
		color: var(--color-grey-darker);
		line-height: 0.65;
	}

	/* Form Controls */
	.vehicle-container,
	.modifiers-container,
	.zones-container {
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		align-items: start;
		justify-content: center;
		flex-wrap: wrap;
		&:hover,
		&:has(#vehicles-toggle:checked),
		&:has(#modifiers-toggle:checked) {
			outline: 1px solid #f9f9f963;
			outline-offset: 0.25em;
			border-radius: 0.125em;
		}
	}

	.vehicle-types,
	.loot-modifiers,
	.zones {
		margin-top: 1em;
		display: none;
		flex-direction: row;
		gap: 0.5em;
		align-items: start;
	}
</style>
