<div class='data-controls'>

	<label><input type='checkbox' id='players-toggle' />Players</label>
	<label><input type='checkbox' id='vehicles-toggle' />Vehicles</label>

	<!-- <div class='vehicle-container'>
		<input type='checkbox' id='vehicles-toggle' />
		<label for='vehicles-toggle'>
			<span class='vehicles close'>Vehicles ▲ </span>
			<span class='vehicles open'>Vehicles ▼</span>
		</label>
		<div class='vehicle-types'>
			<label
				><input
					type='checkbox'
					checked
					id='registered-vehicles-toggle'
				/>Registered</label
			>
			<label
				><input
					type='checkbox'
					checked
					id='not-registered-vehicles-toggle'
				/>Not Registered</label
			>

			<label><input type='checkbox' id='rager-toggle' />Ragers</label>
			<label><input type='checkbox' id='wolfswagen-toggle' />WolfsWagens</label>
			<label><input type='checkbox' id='laika-toggle' />Laikas</label>
			<label
				><input type='checkbox' id='kingletduster-toggle' />Kinglet Dusters</label
			>
			<label><input type='checkbox' id='barba-toggle' />Boats</label>
			<label><input type='checkbox' id='ris-toggle' />RISs</label>
			<label><input type='checkbox' id='dirtbike-toggle' />DirtBikes</label>
			<label><input type='checkbox' id='cruiser-toggle' />Cruisers</label>
			<label><input type='checkbox' id='bicycles-toggle' />Bicycles</label>
			<label
				><input type='checkbox' id='wheelbarrow-toggle' />WheelBarrows</label
			>
		</div>
	</div> -->

	<label><input type='checkbox' id='flags-toggle' />Flags</label>
	<label><input type='checkbox' id='kills-toggle' />Kills</label>
	<hr />

	<div class='modifiers-container'>

		<input type='checkbox' id='modifiers-toggle' />

		<label for='modifiers-toggle'>
			<span class='modifiers close'>Loots Modifiers ▲</span>
			<span class='modifiers open'>Loots Modifiers ▼</span>
		</label>

		<div class='loot-modifiers'>
			<label><input type='checkbox' id='loot-toggle' />Show Loot</label>
			<label><input type='checkbox' id='pvp-toggle' />PvP</label>
			<label><input type='checkbox' id='pve-toggle' />PvE</label>
			<label><input type='checkbox' id='custom-pois-toggle' />POIs</label>
			<label><input type='checkbox' id='pve-bunker-toggle' />PvE Bunkers</label>
			<label><input type='checkbox' id='pvp-bunker-toggle' />PvP Bunkers</label>
			<label><input type='checkbox' id='warzones-toggle' />Warzones</label>
		</div>

		<label><input type='checkbox' id='events-toggle' />Events</label>
		<label><input type='checkbox' id='pois-toggle' />POIs</label>
		<label><input type='checkbox' id='bunkers-toggle' />Bunkers</label>
		<label><input type='checkbox' id='outposts-toggle' />Outposts</label>
		<label><input type='checkbox' checked id='sectors-toggle' />Sectors</label>
		<label><input type='checkbox' checked id='image-toggle' />Image</label>

	</div>


</div>


