---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<style is:inline>
  nav {
    display: flex;
    gap: 0 1em;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
  }
</style>
<nav id='navBar'></nav>

<script>
  const navBarList = document.getElementById('navBar');
  const netlifyIdentity = window.netlifyIdentity;

  // if not logged in,remove the slot
  netlifyIdentity.on('logout', () => {
    removeNavBar();
    window.location.href = '/';
  });

  if (netlifyIdentity) {
    netlifyIdentity.on('login', (user) => {
      renderNavBar();
    });
    // Redirect to the main page after a successful login
    netlifyIdentity.on('init', (user) => {
      if (!user) {
        netlifyIdentity.on('login', () => {
          renderNavBar();
        });
      }
    });
  }

  // Function to render NavBar component
  function renderNavBar() {
    navBarList.innerHTML =
      '<a class={currentPath === "orderPack" ? "active" : ""} href="/orderPack">Order Pack</a>';
    navBarList.innerHTML +=
      '<a class={currentPath === "sendMessage" ? "active" : ""} href="/sendMessage">Send Message</a>';
    navBarList.innerHTML +=
      '<a class={currentPath === "teleporter" ? "active" : ""} href="/teleporter">Teleporter</a>';
    navBarList.innerHTML +=
      '<a class={currentPath === "vehicle" ? "active" : ""} href="/vehicleList">Vehicle List</a>';
    navBarList.innerHTML +=
      '<a class={currentPath === "hordeSpawner" ? "active" : ""} href="/hordeSpawner">Horde Spawner</a>';
    navBarList.innerHTML +=
      '<a class={currentPath === "bunker" ? "active" : ""} href="/bunkerList">Bunker lIst</a>';
    navBarList.innerHTML +=
      '<a class={currentPath === "maze" ? "active" : ""} href="/maze">Maze</a>';
    //navBarList.innerHTML +=
    //   '<a class={currentPath === "econfile" ? "active" : ""} href="/econfile">Economy Override</a>';
    // navBarList.innerHTML +=
    //   '<a class={currentPath === "apis" ? "active" : ""} href="/apis">APIs</a>';
  }

  function removeNavBar() {
    navBarList.innerHTML = '';
  }
</script>
