---
import NotesForm from './NotesForm.vue';
---

<dialog
	id='notesDialog'
	data-playerID='player'
	class='notesDialog glassmorphism'
>
	<header>
		<h3 id='noteTitle' class='title text-2xl'>Notes</h3>
		<button id='closeNotesButton'>X</button>
	</header>

	<div id="notesFormContainer"></div>
	
</dialog>

<script>
	import { createApp } from 'vue';
	import NotesForm from './NotesForm.vue';

	document.addEventListener('astro:page-load', () => {
		const notesDialog = document.getElementById('notesDialog');
		const notesList = document.getElementById('notesList');
		const closeNotesButton = document.getElementById('closeNotesButton');
		const container = document.getElementById('notesFormContainer');

		// Mount Vue component with the correct playerID
		const app = createApp(NotesForm, {
			playerID: notesDialog.dataset.playerId
		});
		app.mount('#notesFormContainer');

		closeNotesButton.addEventListener('click', () => {
			notesDialog.close();
		});

	});
</script>

<style>
	.notesDialog {
		max-width: 73ch;
		width: 80%;
		background-color: var(--color-secondary);
		color: var(--font-color);
		border-radius: 0.5rem;
	}
	.notesDialog form {
		align-items: self-end;
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 1em;
	}
	.notesDialog::backdrop {
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(10px);
	}

	.notesDialog header {
		padding: 0 1em;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.notesDialog header .title {
		margin: 0;
		font-size: 1.25em;
	}
	.notesDialog header button {
		margin: 0.5em 0;
	}
	form {
		align-items: self-end;
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 0 0 1em 0;
	}
	button {
		margin-bottom: 0;
	}
</style>
