---
import netlifyIdentity from 'netlify-identity-widget';
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav id='navBar'></nav>

<script>
  document.addEventListener('astro:page-load', () => {
    const navBarList = document.getElementById('navBar');
    renderNavBar();

    // Function to render NavBar component
    function renderNavBar() {
      navBarList.innerHTML =
        '<hr style="opacity: 0.5;margin: 0.25em 0 0.5em -0.5em; width: 150%;"/>';
      navBarList.innerHTML += `<a class="sideNavLink" href="/inGame"><i class="fi fi-ss-house-user"></i><span class="sideNavLinkText">In Game</span></a>`;
      navBarList.innerHTML +=
        '<hr style="opacity: 0.25;margin: 0 0 0.5em 0; width: 100%;"/>';
      navBarList.innerHTML += `<a class="sideNavLink" href="/playerInfo"><i class="fi fi-ss-user"></i><span class="sideNavLinkText">Player Info</span></a>`;
      navBarList.innerHTML +=
        '<hr style="opacity: 0.25;margin: 0 0 0.5em 0; width: 100%;"/>';
      navBarList.innerHTML += `<a class="sideNavLink" href="/vehicleInfo"><i class="fi fi-ss-car-rear"></i><span class="sideNavLinkText">Vehicle Info</span></a>`;
      navBarList.innerHTML +=
        '<hr style="opacity: 0.25;margin: 0 0 0.5em 0; width: 100%;"/>';
      navBarList.innerHTML += `<a class="sideNavLink" href="/bunkerList"><i class="fi fi-ss-cabin"></i><span class="sideNavLinkText">Bunker list</span></a>`;
      navBarList.innerHTML +=
        '<hr style="opacity: 0.25;margin: 0 0 0.5em 0; width: 100%;"/>';
      navBarList.innerHTML += `<a class="sideNavLink" href="/hordeSpawner"><i class="fi fi-ss-users"></i><span class="sideNavLinkText">Horde Spawner</span></a>`;
      // navBarList.innerHTML += '<hr style="opacity: 0.25;margin: 0 0 0.5em 0;width: 100%;"/>';
      // navBarList.innerHTML += `<a class="sideNavLink" href="/maze"><i class="fi fi-ss-arrow-progress"></i><span class="sideNavLinkText">Maze</span></a>`;
      navBarList.innerHTML +=
        '<hr style="opacity: 0.25;margin: 0 0 0.5em 0;width: 100%;"/>';
      navBarList.innerHTML +=
        '<a class="sideNavLink " href="/orderPack"><i class="fi fi-ss-box-open"></i><span class="sideNavLinkText">Order Pack</span></a>';
      navBarList.innerHTML +=
        '<hr style="opacity: 0.25;margin: 0 0 0.5em 0;width: 100%;"/>';
      navBarList.innerHTML +=
        '<a class="sideNavLink" href="/teleporter"><i class="fi fi-ss-portal-enter"></i><span class="sideNavLinkText">Teleporter</span></a>';
      navBarList.innerHTML +=
        '<hr style="opacity: 0.25;margin: 0 0 0.5em 0;width: 100%;"/>';
      navBarList.innerHTML +=
        '<a class="sideNavLink" href="/sendMessage"><i class="fi fi-ss-comment-alt-dots"></i><span class="sideNavLinkText">Send Message</span></a>';
      navBarList.innerHTML +=
        '<hr style="opacity: 0.25;margin: 0 0 0.5em 0;width: 100%;"/>';
      navBarList.innerHTML +=
        '<a class="sideNavLink" href="/lootManager"><i class="fi fi-ss-box-open"></i><span class="sideNavLinkText">Loot Manager</span></a>';
      // navBarList.innerHTML += '<a class="sideNavLink" href="/econfile">Economy Override</a>';
      // navBarList.innerHTML += '<a class="sideNavLink" href="/apis"><i class="fi fi-ss-ban"></i><span class="sideNavLinkText">APIs</span></a>';
    }
  });
</script>

<style is:inline>
  nav {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 0 1em;
    align-items: start;
    justify-content: flex-start;
    margin-bottom: 1em;
    flex-wrap: wrap;
    background-color: var(--color-tertiary);
    padding: 4em 1em 0;
    z-index: 1000;
  }

  .sideNavLink {
    display: flex;
    text-wrap: nowrap;
    position: relative;
  }

  .sideNavLink .fi {
    font-size: 2em;
    padding-left: 0.125em;
  }
  .sideNavLinkText {
    font-size: 0;
    margin-left: 0.75em;
    transition: font-size 0.5s ease-in-out;
    position: absolute;
    left: 2em;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  .sideNavLink:hover .sideNavLinkText {
    background-color: var(--color-accent);
    box-shadow: -1px 1px 13px 3px #00000042;
    padding: 0.5em;
    border-radius: 0.5em;
    opacity: 1;
    font-size: 1em;
  }
</style>
