---
import NavBar from '../components/Navbar.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link href="../assets/fonts/SpecialElite-Regular.ttf'" rel='stylesheet' />
    <link href='../assets/fonts/defused.ttf' rel='stylesheet' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <style>
      .specialElite {
        font-family: 'Special Elite', sans-serif;
      }
      .defused {
        font-family: 'Defused', sans-serif;
      }
      h1 {
        font-size: 4rem;
      }
    </style>
  </head>
  <body>
    <h1 class='my-8 text-center'>
      <span class='flex justify-center specialElite'>Dumpster Tools</span>
    </h1>
    <NavBar />
    <slot />
  </body>
</html>
