---
import NavBar from '../components/navbar.astro';
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Special+Elite&display=swap'
      rel='stylesheet'
    />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <style>
      .specialElite {
        font-family: 'Special Elite', system-ui;
        font-weight: 400;
        font-style: normal;
      }
      h1 {
        font-size: 4rem;
      }
    </style>
    <script
      type='text/javascript'
      src='https://identity.netlify.com/v1/netlify-identity-widget.js'></script>
  </head>
  <body>
    <h1 class='my-8 text-center'>
      <span class='flex justify-center specialElite'>Dumpster Tools</span>
    </h1>

    <div data-netlify-identity-button class='my-8 text-center'></div>

    <div class='my-8 text-center' id='navBarContainer'>
      <NavBar />
    </div>
    <main id='main'>
      <slot />
    </main>
  </body>
</html>

<script>
  const main = document.getElementById('main');
  const netlifyIdentity = window.netlifyIdentity;
  //on page load check if the user is logged in
  netlifyIdentity.on('init', (user) => {
    console.log('init');
    if (user) {
      console.log('user logged in');
    } else {
      console.log('user not logged in');
      removeSlot();
    }
  });
  // if not logged in,remove the slot
  netlifyIdentity.on('logout', () => {
    console.log('logout');
    removeSlot();
    window.location.href = '/';
  });

  function removeSlot() {
    console.log('removing slot');
    main.innerHTML = '';
  }
</script>
